:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-grey: #2f303a;
  --team-section-background: #f5f4fa;
  --address-link-color: rgba(255, 255, 255, 60%);
  --logo-color: #afb1b8;
  --transition-prop: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  background-color: var(--white-color);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Логотип */

.logo {
  margin-right: 93px;

  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.header-studio {
  color: var(--title-text-color);
}

/* Навигация */

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  position: relative;
  display: block;
  padding: 32px 0;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--accent-color);
}

.contact-link {
  display: flex;
  align-items: center;

  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;

  transition: color var(--transition-prop);
}

.contact-icon {
  margin-right: 10px;

  fill: currentColor;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.header-line {
  border-bottom: 1px solid #eeeeee;
}

/* Герой */

.hero-section {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;

  background-color: var(--background-grey);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bgi-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-grey);
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;

  color: var(--white-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
}

.primary-button {
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;

  background-color: var(--accent-color);
  color: var(--white-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;

  cursor: pointer;
}

/* Описание и наша команда */

.description-section {
  padding: 94px 0 47px;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.description-list {
  display: flex;
  justify-content: space-between;
}

.description-item {
  width: 270px;
}

.description-image {
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--team-section-background);
}

.description-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.description-text {
  font-size: 14px;
  line-height: 1.7;
}

.about-section {
  padding: 47px 0 94px;
}

.main-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-item {
  position: relative;
  max-width: 100%;
  height: auto;
  display: block;
}

.work-img {
  display: block;
}

.work-img-over {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-descr {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
}

.team-section {
  padding: 94px 0;

  background-color: var(--team-section-background);
}

.team-list {
  display: flex;
  text-align: center;
}

.team-item {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-subtitle {
  padding: 30px 0;
}

.team-name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.2;
}

.social-list {
  display: flex;
  justify-content: center;
}

.link-item {
  margin-right: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  display: block;
  padding: 12px 12px;

  fill: var(--logo-color);

  transition: background-color var(--transition-prop),
    fill var(--transition-prop);
}

.team-item .social-link:hover,
.team-item .social-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

/* Постоянные клиенты */

.clients-section {
  padding: 94px 0;
}

.clients-list {
  display: flex;
}

.clients-item {
  margin-right: 30px;
}

.client-box {
  display: block;
  padding: 16px 32px;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;

  fill: var(--logo-color);

  transition: fill var(--transition-prop), border-color var(--transition-prop);
}

.client-box:hover,
.client-box:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Футер */
.footer-section {
  padding: 60px 0;

  background-color: var(--background-grey);
}

.footer-section .container {
  display: flex;
}

.footer-info {
  margin-right: 70px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-studio {
  color: var(--white-color);
}

.address-list {
  margin-bottom: 9px;
}

.footer-section a {
  text-decoration: none;
  font-style: normal;
}

.address-link {
  color: var(--address-link-color);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;

  transition: color var(--transition-prop);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.address-link.map {
  color: var(--white-color);
}

.footer-section .description-title {
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-section .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);

  transition: background-color var(--transition-prop);
}

.footer-section .social-link:hover,
.footer-section .social-link:focus {
  background-color: var(--accent-color);
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms ease-in-out;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0.7);
}

.modal {
  min-width: 528px;
  min-height: 581px;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 300ms ease-in-out;

  background-color: var(--white-color);
}

.close-border {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
}

/* Портфолио */

.projects-section {
  padding: 94px 0;
}

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.secondary-button {
  padding: 6px 22px;

  background-color: var(--team-section-background);
  color: var(--title-text-color);
  border-color: transparent;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;

  transition: background-color var(--transition-prop),
    color var(--transition-prop), box-shadow var(--transition-prop);
}

.secondary-button:hover,
.secondary-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  margin: 0 30px 30px 0;

  border-radius: 0px 0px 4px 4px;

  transition: box-shadow var(--transition-prop);
}

.project-card:hover,
.project-card:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.project-card:nth-child(3n) {
  margin-right: 0;
}

.project-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-list a {
  text-decoration: none;
}

.project-title {
  margin: 0 0 4px 0;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-description {
  color: var(--main-text-color);
  line-height: 1.9;
}

.image-overlay {
  position: relative;
  overflow: hidden;
}

.card-image {
  display: block;
}

.card-over {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-prop);
}

.card-image-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: var(--white-color);
}

.project-card:hover .card-over {
  transform: translateY(0);
}

.card-border {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
